# ─── App ─────────────────────────────────────────────────────
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# ─── PostgreSQL ───────────────────────────────────────────────
POSTGRES_USER=hms_user
POSTGRES_PASSWORD=hms_pass
POSTGRES_DB=hms_db

# ─── MongoDB ──────────────────────────────────────────────────
MONGO_USER=hms_user
MONGO_PASSWORD=hms_pass
MONGO_DB=hms_emr

# ─── Redis ────────────────────────────────────────────────────
REDIS_PASSWORD=hms_redis_pass

# ─── MinIO ────────────────────────────────────────────────────
MINIO_ROOT_USER=hms_minio_admin
MINIO_ROOT_PASSWORD=hms_minio_pass

# ─── JWT ──────────────────────────────────────────────────────
JWT_SECRET=change_this_to_a_very_long_random_secret_in_production
JWT_REFRESH_SECRET=change_this_to_another_very_long_random_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ─── Frontend ─────────────────────────────────────────────────
NEXT_PUBLIC_CORE_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_LAB_API_URL=http://localhost:8000/api/v1
